body {
  margin: 0;
  width: 100%;
  font-family: AvenirNextLTPro-Bold, Calibri, Gill Sans, Gill Sans MT,
    Trebuchet MS, sans-serif;
}
main {
  max-width: 900px;
  display: flex;
  margin: auto;
  padding: 30px 0;
}
.leftContainer {
  width: 60%;
}
.rightContainer {
  margin-left: 45px;
  width: 30%;
  padding: 60px 21px;
  background-color: #fafafa;
  border-radius: 6px;
}
.far {
  color: #a80752;
  margin: 0 6px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}
.buyBtn {
  width: 100%;
  border-radius: 6px;
  background-color: #a80752;
  text-align: center;
  color: white;
  padding: 9px;
  margin-top: 15px;
  cursor: pointer;
}

img {
  border-radius: 6px;
  overflow: hidden;
}


.slidePhotoContainer {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slidePhoto {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 9px 30px;
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  border-radius: 6px;
}

.smallerPhotos {
  width: 100%;
  display: flex;
}

.botPhoto {
  cursor: pointer;
  width: 20%;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: inline-block;
}

.active, .botPhoto:hover {
  border: 2px solid #a80752;
  border-radius: 6px;
  overflow: hidden;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.discount {
  background-color: #a80752;
  color: white;
  font-size: 21px;
  border-radius: 6px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 75px;
  width: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px){
  main {
    display: flex;
    flex-wrap: wrap;
    max-width: 810px;
    margin: auto;
  }
  .leftContainer {
    width: 93%;
    margin: auto;
  }
  .rightContainer {
    width: 93%;
    margin: 15px auto;
  }
}
.deal {
  margin: 15px 0;
}
.dealInner {
  display: flex;
  align-content: center;

}
.selectBar3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border: 1px solid rgb(214, 208, 208);
  border-radius: 6px;
}
.selectBar1 {
  text-align: center;
  width: 33%;
  padding: 9px 0;
  cursor: pointer;
  border-right: 1px solid rgb(214, 208, 208);
}
.description {
  padding: 15px;
}